---
import BlogLayout from "./BlogLayout.astro";
const { frontmatter } = Astro.props;
---

<BlogLayout pageTitle={frontmatter.title}>
  <!-- <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>Written by: {frontmatter.author}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <div class="tags">
    {
      frontmatter.tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div> -->

  <div class="flex justify-center">
    <div class="mb-8 px-4 text-left">
      <slot />
    </div>
  </div>
</BlogLayout>
