---
import BlogLayout from "./BlogLayout.astro";
const { frontmatter } = Astro.props;
---

<BlogLayout pageTitle={frontmatter.title}>
  <div class="flex flex-col items-center justify-center">
    <h1
      class="text-foreground h1_clamp my-8 max-w-7xl text-center leading-[52px] font-medium tracking-tighter text-pretty capitalize min-[520px]:leading-16 min-[800px]:leading-20 sm:tracking-tight lg:leading-24"
    >
      {frontmatter.title}
    </h1>

    <div class="w-full max-w-sm px-4">
      <img
        src={frontmatter.image.url}
        width="100%"
        alt={frontmatter.image.alt}
        class="-translate-y-7 sm:-translate-y-9 md:-translate-y-7"
      />
    </div>

    <div
      class="sm:border-foreground mb-8 flex w-full justify-between px-4 pb-2 text-sm font-semibold sm:w-3/4 sm:border-b"
    >
      <div class="flex gap-1">
        <div
          class="size-6 rounded-full bg-linear-30 from-sky-300 to-orange-400"
        >
        </div>
        <div>{frontmatter.author}</div>
      </div>
      <div>{frontmatter.pubDate.toString().slice(0, 10)}</div>
    </div>
  </div>
  <div class="sm:flex sm:justify-center">
    <div class="mb-8 px-4 text-left">
      <slot />
    </div>
  </div>
</BlogLayout>
