---
const allExperiment = [
  {
    name: "Maze",
    description:
      "Uses something, and got the current path for solve the maze if it is solvable",
    btnLabel: "Solve",
    id: "maze",
    styleCont:
      "grid h-64 w-full max-w-2xl grid-cols-[repeat(5,minmax(50px,100px))] overflow-hidden rounded-xl border border-black p-1",
  },
  {
    name: "Rainbow",
    description:
      " Uses a bobblesort, for create a sorted rainbow based on the hue! ",
    btnLabel: "Sort",
    id: "rainbow",
    styleCont:
      "relative flex md:h-64 w-full rounded-xl border border-black bg-conic/decreasing from-violet-700 via-lime-300 to-violet-700 p-1 h-32",
  },
];
---

<div class="mt-20 grid place-content-center px-4 md:px-20">
  <div
    class="contAscii grid h-[70vh] w-full max-w-[720px] place-content-center overflow-hidden border border-black bg-black font-mono text-[6px] leading-none text-white sm:text-[8px]"
  >
  </div>
</div>

<section class="mt-10 grid place-content-center px-4 md:mt-20">
  {
    allExperiment.map(({ name, description, btnLabel, id, styleCont }) => (
      <div class="not-first:mt-5 md:not-first:mt-10">
        <h2 class="border-foreground border-b text-4xl text-pretty sm:text-6xl">
          {name}
        </h2>

        <div class="flex flex-col md:flex-row">
          <div class="md:border-foreground order-2 pt-4 pr-4 md:order-1 md:border-r">
            <p class="mb-4 max-w-96 text-base/5 text-balance sm:text-xl md:max-w-2xl md:text-2xl/7">
              {description}
            </p>

            <button
              class="cursor-pointer rounded-md border bg-black px-[1em] py-[0.1em] text-base text-white dark:bg-white dark:text-black"
              id={id + "Button"}
            >
              {btnLabel}
            </button>
            <button
              class="border-foreground cursor-pointer rounded-md border px-[1em] py-[0.1em] text-base"
              id={id + "ButtonReset"}
            >
              Reset
            </button>
          </div>

          <div class="order-1 w-full pt-4 md:order-2 md:pl-4">
            <div class={styleCont} id={id} />
          </div>
        </div>
      </div>
    ))
  }
</section>

<script>
  const asciiArt2 = `
                                                               .....     ......              .                                                        
                                                ...........   .......      ..:::............ ...       .                                              
                                    ...      ......::::..:   :::::::::       .::::::::::::::..:.      ..........                                      
                            ......       ...:::::::::::::. .::::::::::.  ::.    .::::::::::::      .  .::::::.....                                    
                      ........        .:::::.:::::::::::.  .:::::::::::. .:::::                  .::.  :::::::::::::.          ....                   
                 ........        ..::::::::::::::::::::. .:::++++++++++:. :++++++:::......::::. .::::  .:::::::::::::   .....  .....  .               
                           ...:.::::::::::::::::::::+:. .+++:+++++++++++:. :+++++++::++++++++:. :+::::  ::::::::::::.  :::::.  ...... ......          
                   ...:::::::..::::::::::::::+++++++:  :++++::+++++++++++:. :++++++++++++++++. .:+++++: .::::::::::.  :::::::.  .............         
       ... ......::::::::::::::::::::::::::++++++++:  ::::::::::::::::::::: .:::::::::+:::::. .:::::++:: .:++::::::  ::::::::.  :::...........        
       .......::::::::::::::::::::::::::::::::::::. .:::::::::::::::::::::::. .::::::::+::.. .::::::::::.  .:::::.  .:::::::..  .:::::.......  ...    
  ..    . ..::::::::::::::..:::.::::::::::+++::+: .:+++++++++++::+++++++++++:. .+++++++++:. .++++:+++--++:  .::..  .........::. .:::... ...........   
  ....    .::::::::::::::.:::+----+::::::::::::. .++++-----------+------------+. :-----::  :----++:::::::::..     .++----+::::.  :::::::.........   ..
   ....    .:::::::::::::++:::++------------+. .+:++--++++++++++++:::::::::::::::.  ... ..:++++++-+++++---------+-----++::+++::  ::::::::..:....  ... 
      ....   .::::..::::::+:+----+::::::::.  .::::::+++::::::::::::::::.::::::::::::::::::::++:::+++::::::::::.:::::+-----++:::. .::::::::..:. .......
    ........   .:::::::::::::::::::::::.  .::::::::::::+++++:++++++++++++++++++++++++++++++::++++::::::::::::::::::::::::+++:::: .:::::::::.........  
      ......::.   .::::::::::::::::.   :+--------------------++----------------------------++---+-------------+::::::::::++:::::  :::::::..........   
      ........:::..    ..::::..   .:+--------********************------------------------********-+--****--------------++:::::::. .:::::::.....       
      ..........::::::.......::--***************************######%%%%%%%%%%%%%%###%%%#####*********-+-**************---+:::::::: .::::::........     
 .    ..........::::::::::::::+--******************####%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%####****--+--**********--+::::::::. .:::...........    
 ..  ............:::::::::::::----***********************************************************************-----++++++++++:::::::::.  .:............    
 ... ............:::::::::::::----**************************************************************************--******----+::::::::.  ...............   
 ................:::::::::::::----********************************#*************************************************----::::::::::.  ..............   
 ................:::::::::::::--*-*********************************#**************************************************--::::::::::.  ..............   
...............:::::::::::::::--************************************#*************************************************--+::::::::::. ...............  
.............:::::::::::::::::--******************************##*****#*************************************************-+::::::::::.  .:............. 
 ...::......:::::::::::::::::+--**********************#***####*******#**-**********************************************-+:::::::::::. ..::............
....::....:::::::::::::::::::+--*********************%*****##***----**---*******#***************#%*********************-+::::::::::::  .:::...........
.::::::::::::::::+++::+:+++++--****************************--------------*#****###*************************************--++++++:+++++: .:::::::::.::..
:::::::::::::::++::::+::::+++++-************************-----------------##***####*************************************--++++++:::::::. .::::::::.....
::::::::::::::::::::+++++:+++--*********************#*--------------------****####*************************************--++++++::::::::. .:::::::::...
::::::::::::::::::::++++++++:+-********************#**-------------+++++++-****%##************************************---++++++::::::::. .:::::::::::.
:::::::::::::::::::::++++++++--**********************---+++++++++++++++++++-***%#***#*************#********************-+::+++:::::::::+: .::::::::::.
::::::::::::::::::::::+++++++--*******************---+++++++++++++++++:::::+-*########**********###********************-+::::::.....:::::. .:::::::::.
::::::::::::::::::::::+++++++--******************-++++++++::::::::::::::::+-*###***##*####*****####********************-+:::++:::...::::::. .:::::::..
:::::::::::::::::::::+++-++++--******************+:::::::::::::::::::::::::--***###%#%%%%%##**#####********************-+:::::::...::::::::.  .:::....
:::::::::::::::::::++++++++++--******##*********-::::::::::::::::::::::::::::+-***------***%%**####********************-+::::::..::::::::::::.  ......
::::::::::::::::::::::+++++++--****#####******#**::::::::::::::::::::::::::++---++:::::++---**#####*************#******-+::::::.:::::::::::::::.   .. 
:::::::::::::::::::::+++++++:+-****%%###*********+::::::::::::::::::::::::::--:::::::::::::+-**####********************-+::::::::::::::::::::::::.... 
..::::::::::::::::::::++++:::+-****#####***********-+::::::::::::::::::::::+-::::::::::+::::+--**%#********************-+:::::::::::::::::::::::::....
..::::::::::::::::::::+++::::+-****#####*#*****************-::::::::::::::--+::::::::::::::::::+-*%#*******************-+:.:::::::::::::::::::::::....
..::::::::::::::::::::+::::+++-****#####******************####****-:::::---+:::::::::::::::::::::-*%#******************-+:.::::::::::::::::::::::::...
.:::::::::::::::...::::::+++++-****#####*****************#######%%%**#*--::::::::++:::::::::::::::-********************-+:.:::..:::::::::::::::::::...
.::::::::::::::::::::::::+++:+-****#####**************#**#######%%#**--:::::::-**-+:::::::::::::::+-*******************-+:.::::.::::...::::::::::::...
.:::::::::::::::::::::++++++:+-****#####*************###*######*--++--:::::::-*@@**---:::::::::::::+**********#********-+:.:::::::::::::::::::::::::..
.:::::::::::::::::::::+++++::+-****#####************####**###*-+:::::::::::::+--*@@@*--:::::::::::::*******************-+:.::::::::::::::::::+::::::..
.:::::::::::::::::::::+-+::::+-****#####************####****-:::::::::::::::::::+-*@@**-::::::::::::*******************-+:.:::::::::::::::::::::::::..
.:::::::::::::::::::+++::::::+-****#####**********#####***-:::::::::::::::::::::::-*%%*-+::::::::::+*******************-+:.:::::::::::::::::::::::::..
.::::::::::::::::::+-+::.::::+-****%%###**********####**-:::++-++-::::::::::::::::::-**-:::::::::::-*******************-+:.:::::::::::::::+:::::::::..
.::::::::::::::::::::::..::::+-****#####***********##*-::+*#*:::::-::::::::::::::::::::+::::::::::+********************-+:.::++:::::::::::::::::::::..
::::::::::::::::::+:::...::::+-****#####************--::-*##*-:::+-:::::::+-::::::::::::::::::::::-********************-+:.::+:::::::::+::::::::::::..
::::::::::::::::::::::::...::+-****#####***********+:.:-**####-:::-:::::::-:-::::::::::::::::::::-*********************-+::+::::::::::::::::::::::::..
.:::::::::++:::::::::....::::+-****#####********%*-:.:*****###*-:::-::::::-:++::::::::::::::::::+***#******************-+:...:::::::::::::::::::::::..
.:::::::::::::::::::::...::::+-****#####***********-:-******#*--+::-::::::--:++:::::::::::::::::-**#*******************-+:.....::::::+::::::::::::::..
.:::::::::::::::::::::...::::+-****#####*******************#*-+:+::+::::::-#-+-:::::::::::::::::***#*******************-+:..::..:::::+++:::::::::::...
.::::::::::::::::++::::..::::+-****#####*********************-::+*:++::+::+#%#--+::::::::::+:::-**##*******************--+:.::...::::----+:::++::::...
.:::::::::::::::::::+::..::+:+-****#####********************-::**#*-+:::::+*#%%#*-::::::::::::-*####*******************--+::::...::::+--+::::++::::...
.::::::::::::::::::--+::..:++--****#####*********************-:-*##*-::::::*######*-+::::::+-***####*******************--+++::+:.:::::::::::::::::....
:::::::::::::::::++::++:::::+--****#####**********************+-**##*::::::-##########**********####*******************--+::.....:::++:::::::+::::....
:::::::::::::::::::::+::::.::--****#####*******************####***#*-:::-:::+*######********#*****##*******************-+:....:::::::::+:::::+:::.....
::::::::::::::::::++::+:.::++--****#####*******************####*****-:::::::::*####****************#*******************-+:..:::::::::::+:::::+:::.....
::::::::::::::::::+++++:::+++--****#####*******************####*****-::::::::--+-*************##***********************-+:::++::::::::::::::++::::::..
:::::::::::::::::::::++:::+++--****#####********************###*****+::::+--+::::::*********%%%%%%*********************-+++-++::::++:::::::::::::::::.
:::::::::::::::::::::++++++++--****##%%#*********************##*****+:::--::::::::+*********%%%%%%*******#*************--+++++:::::::++::::::::::::::.
:::::::::::::::::::::++++++++--****##%%#****************************+::-*+::::::+*************%%#**********************--+++++:::::::::::::::+:::::::.
:::::::::::::::::::++++++++++--****##%##****************************+:+**-::::+****************************************-----++:::::::::::::::+:::::::.
:::::::::::::::::::+---::::::+-****##%##****************************-:+#**+:::-**##************************************-+::::::::::::::::::::+:::::::.
.::::::::::::::::::::::::::::+-****##%##*****************************--#**-:::-****************************************-+::::::::::::::::::::::::::...
........:::::::::::::::::::::+--***#####***********************************+::-****************************************-+::::::::::::::::::::.........
.........::::::::::::::::::::+--***#####************************************-::****************#%**********************-+:::::::::::::::::::..........
..........::::::::::::::::::::--***#####*************************************-:-***************##**********************-+::::::::::::::::::...........
 ..........:::::::::::::::::::--***###%#*******************************************************************************-:::::::::::::::::............ 
.............:::::::::::::::::--***###%#***************#%%#************************************************************-::::::::::::::::............. 
..............::::::::::::::::+-***###%#***************#%%*************************************************************-::::::::::::::................
..............::::::::::::::::--***#####***----------------*******************************--------------------*********-:::::::::::::::::...........  
   ............:::::::::::::::+-***#####***-------------------------------------------------*#*--------------------****-:::::::::::::::::..........   
    ..............:::::::::::+---*************************----------------------------------********************---------...    ....... . .......     
   ................:::::::::::++:+----------------------------------------------------------------------------------++:::::::::::::.........          
     ...........::::::.......:+++-------+++++++++++++++++++++---------------------------+++++++++++::::::::::::::+++++:::::::::::::::::..........     
     ................:::::::+-----------+++++++++++:::+:::::::::::::::....::::::::::::::::::::::....:::::::::::::++++++--+::::::::::::::........      
       .......  ..:::::::::+------***----+++++++++++++::::::::::::::::..::::::::::::::::::::::::::::::::::++++------------+::::::::::::::::....       
          ....:::::::::::+-------------+++++++++++------------------+:.+-----------------:::+-------++++++++::::++++++++----+:::::::::::::::...       
        .....:::::::::::::+-------+---+++++++++++:::::::::::::::::::::::..::::::::::::::::::::::::::::++++++++++++++:::::+:::::::::::. ......... .    
        .....::::::::::::.::++---+++:::::::::::::::::::::::::::::::::::::...:::::::::::::::::::::::::::::::::::::::::::::::....:::::: .::::.......    
         ...::::::::::::::::..........::::::::::::::::..........................................:::::::::::::::..............::::::::: .::..........  
     ..    ...:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.. ..::....::::::::::::::::::::::::::::::::::::::::::::::..  ..........    
       . ..      .::::::::::::::::::::::::::::::::::::::::::::::::::....... ....:::::::::::::::::::::::::::::.....::::::::..       ..............     
           ........     ...::::::::::::::::::::+++++++++++++++++:.:::::.::++++++++++++++::::::.....:::::::::::::::::::::::::::::............          
                 .............    ..:::::::::::::::::::::::::.. ....::+++++++++:::.....:::::::::::::::::::::::::::::::::::............                
                       ................. .............  ......::::::::::::.....::::::::::::::::::::::::::::::::::::............                       
                              ...................:::::::::::::::::::.. ...::::::::::::::::::::::::::::::.................                             
                                       ..........................   ....::::::::::::::::........................                                      
                                                 ..............   ...................................                                                 
                                                                   .....................  .                                                           
                                                                                                                                           `;

  const contAscii = document.querySelector(".contAscii");

  const asciiArr = asciiArt2.split("\n");

  asciiArr.map((el) => {
    const innerContAscii = document.createElement("pre");
    innerContAscii.innerHTML = el;
    contAscii.append(innerContAscii);
  });
</script>
