---
const { project } = Astro.props;
import { Icon } from "astro-icon/components";
---

<div class="flex flex-col md:flex-row">
  <div
    class="border-foreground order-2 pt-3 md:order-1 md:border-r lg:w-xl lg:pt-5"
  >
    <p class="text-xl/5 tracking-tight text-pretty md:max-w-80 lg:max-w-xs">
      {project.description}
    </p>

    <a
      href={project.link}
      class="text-accent flex items-center justify-start gap-2 pt-4"
      target="_blank"
    >
      See it live
      <Icon name="arrow_link-icon" />
    </a>
  </div>

  <div
    class="order-1 grid grid-cols-1 pt-6 md:grid-cols-[repeat(2,_minmax(0,340px))] md:gap-x-4 md:pl-4 lg:w-full lg:grid-cols-[repeat(2,_minmax(200px,400px))] lg:gap-x-10 min-[70rem]:grid-cols-[repeat(3,_minmax(100px,300px))]"
  >
    <div class="rounded-lg">
      <img
        src={project.primaryImg}
        alt={project.altPrimaryImg}
        class="rounded-lg dark:invert-100"
      />
    </div>

    <div class="rounded-lg">
      <img
        src={project.secondaryImg}
        alt={project.altSecondaryImg}
        class="hidden rounded-lg md:block"
      />
    </div>
    <div class="rounded-lg">
      <img
        src={project.tertiaryImg}
        alt={project.altTertiaryImg}
        class="hidden rounded-lg min-[70rem]:block"
      />
    </div>
  </div>
</div>
