---
const { project } = Astro.props;
---

<div
  class="grid grid-cols-1 md:grid-cols-[minmax(0,340px)] md:gap-x-4 lg:grid-cols-[repeat(2,_minmax(200px,400px))] lg:gap-x-10 min-[70rem]:grid-cols-[repeat(3,_minmax(200px,400px))]"
>
  <div class="rounded-lg">
    <img
      src={project.primaryImg}
      alt={project.altPrimaryImg}
      class="rounded-lg dark:invert-100"
    />
  </div>

  <div class="rounded-lg">
    <img
      src={project.secondaryImg}
      alt={project.altSecondaryImg}
      class="hidden rounded-lg lg:block"
    />
  </div>
  <div class="rounded-lg">
    <img
      src={project.tertiaryImg}
      alt={project.altTertiaryImg}
      class="hidden rounded-lg min-[70rem]:block"
    />
  </div>
</div>
